
<form action="/random/results">
  <label for="rando_min">
    Minimum
  </label>
  <input id = "rando_min" type = "text" placeholder = "E.g. 1.5" name = "user_min">
  
  <label for="rando_max">
    Maximum
  </label>
  <input id = "rando_max" type = "text" placeholder = "E.g. 4.5" name = "user_max">

  <button>
    Pick random number
  </button>
</form>